<h1>P&R 2 - Módulos e Componentes</h1>
<h2>O que será desenvolvido?</h2>

<article>

  <p>Conforme citado no material, o angular nos permite criar módulos distintos e importar todas as suas dependências para acessar em outros módulos, formando assim uma aplicação organizada e facilitando a utilização de bibliotecas de terceiros.</p>
  <p>Outra coisa que isso permite é distribuir a declaração de rotas entre módulos filhos, e importá-los no módulo pai. A técnica e sintaxe para isso não foi discutida, mas pode ser encontrada.</p>
  <p><strong>Faça uma pesquisa sobre como criar rotas filhas usando essa técnica e apresente um exemplo simples que utilize dois módulos declarando suas rotas que serão importadas no módulo pai. Teste sua aplicação local para ter certeza de que funciona.</strong></p>
  <p>Dicas: Pesquise por “Angular router in submodules forChild”.</p>
  <p>A diretiva RouterModule.forChild será usada para criar rotas no módulo filho, e a diretiva RouterModule.forRoot será usada para criar rotas no módulo principal ou módulo pai. As rotas do módulo pai devem utilizar uma propriedade loadChildren para carregar o módulo em um path especifico.</p>
  <p>Para testar no navegador utilize o path que escolher para o loadChildren, mais o path para as rotas declaradas no módulo. Exemplo: /modulo1/child1</p>
  
</article>

<h2>Resposta: </h2>
<h3>Rotas forRoot e forChild</h3>
<a [routerLink] = "['/pai/primeirofilho']"> Acessar Filho 1 </a>
<br/>
<a [routerLink] = "['/pai/segundofilho']"> Acessar Filho 2 </a>
<router-outlet></router-outlet>